<!DOCTYPE html>
<html>
    <%- include( "./components/_header.ejs" ); %>
    <body>
        <%- include( "./components/_navbar.ejs" ); %>
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <%- include( "./components/_sidebar.ejs" ); %>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary" onclick="location.href='/?date=<%= prev %>'" >
                                ←
                            </button>
                        </div>
                        <div class="col text-center">
                            <h1><%= title %></h1>
                        </div>
                        <div class="col text-center">
                            <button type="button" class="btn btn-primary" onclick="location.href='/?date=<%= next %>'" >
                                →
                            </button>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="row">試験名</th>
                                        <th scope="row">予定</th>
                                        <th scope="row">実績</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i = 0; i < weeklyStatistics.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= weeklyStatistics[i].examName %>
                                        </td>
                                        <td>
                                            <%= weeklyStatistics[i].planDuration %>
                                        </td>
                                        <td>
                                            <%= weeklyStatistics[i].recordDuration %>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <% for (let i = 0; i < weeklyData.length; i++) { %>
                                        <th scope="col">
                                            <%= weeklyData[i].displayDate %>
                                        </th>
                                        <% } %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let y = 0; y < rowLength; y++) { %>
                                    <tr>
                                        <th scope="row"><%= y+1 %></th>
                                        <% for (let x = 0; x < weeklyData.length; x++) { %>
                                        <%   if (weeklyData[x].data[y]) { %>
                                        <%     if (weeklyData[x].data[y].isPlan) { %>
                                        <td class="plan">
                                            <%= weeklyData[x].data[y].title %>
                                        </td>
                                        <%     } else { %>
                                        <td class="record">
                                            <%= weeklyData[x].data[y].title %>
                                        </td>
                                        <%     } %>
                                        <%   } else { %>
                                        <td></td>
                                        <%   } %>
                                        <% } %>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include( "./components/_script.ejs" ); %>
    </body>
</html>
