<!DOCTYPE html>
<html>
    <%- include( "./components/_header.ejs" ); %>
    <body>
        <%- include( "./components/_navbar.ejs" ); %>
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <%- include( "./components/_sidebar.ejs" ); %>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col text-center">
                            <h1>学習実績登録</h1>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form action="/createRecord" method="post">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <label for="exam" >試験名</label>
                                            </th>
                                            <td>
                                                <select id="exam" name="exam" class="custom-select" >
                                                    <% for (let i = 0; i < exams.length; i++) { %>
                                                    <option value="<%= exams[i].id %>" >
                                                        <%= exams[i].name %>
                                                    </option>
                                                    <% } %>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="title">内容</label>
                                            </th>
                                            <td>
                                                <input id="title" class="form-control" name="title" type="text" placeholder="内容を簡単に入力してください。" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="date">日付</label>
                                            </th>
                                            <td>
                                                <input id="date" class="form-control" name="date" type="text" placeholder="日付を選択してください。" readonly="readonly" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="start">開始時間</label>
                                            </th>
                                            <td>
                                                <input id="start" class="form-control" name="start" type="text" placeholder="開始時間を選択してください。" readonly="readonly" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="end">終了時間</label>
                                            </th>
                                            <td>
                                                <input id="end" class="form-control" name="end" type="text" placeholder="終了時間を選択してください。" readonly="readonly" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="title">備考</label>
                                            </th>
                                            <td>
                                                <input id="comment" class="form-control" name="comment" type="text" placeholder="備考があれば入力してください。" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include( "./components/_script.ejs" ); %>
        <script>
            const dateInput = document.getElementById("date");
            flatpickr(dateInput, { maxDate: "today" });
            const startInput = document.getElementById("start");
            flatpickr(startInput, {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i:S",
                minuteIncrement: 15,
            });
            const endInput = document.getElementById("end");
            flatpickr(endInput, {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i:S",
                minuteIncrement: 15,
            });
        </script>
    </body>
</html>
