<!DOCTYPE html>
<html>
    <%- include( "./components/_header.ejs" ); %>
    <body>
        <%- include( "./components/_navbar.ejs" ); %>
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <%- include( "./components/_sidebar.ejs" ); %>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col text-center">
                            <h1><%= title %></h1>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form action="/registerExam" method="post">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <label for="name">試験名</label>
                                            </th>
                                            <td>
                                                <input id="name" class="form-control" name="name" type="text" placeholder="試験名を入力してください。" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="datePlanned">受験予定日</label>
                                            </th>
                                            <td>
                                                <input id="datePlanned" class="form-control" name="datePlanned" type="text" placeholder="日付を選択してください。" readonly="readonly" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="pointQualified">合格点</label>
                                            </th>
                                            <td>
                                                <input id="pointQualified" class="form-control" name="pointQualified" type="number" placeholder="試験の合格点を入力してください。" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="pointMax">満点</label>
                                            </th>
                                            <td>
                                                <input id="pointMax" class="form-control" name="pointMax" type="number" placeholder="試験の満点を入力してください。" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label for="comment">備考</label>
                                            </th>
                                            <td>
                                                <input id="comment" class="form-control" name="comment" type="text" placeholder="備考があれば入力してください。" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include( "./components/_script.ejs" ); %>
        <script>
            const dateInput = document.getElementById("datePlanned");
            flatpickr(dateInput);
        </script>
    </body>
</html>
